<script type="text/javascript" src="/static/footer/jquery.js"></script>
<!-- bootstrap.min.js -->
<script type="text/javascript" src="/static/footer/bootstrap-min.js"></script>
<!-- jquery.dcjqaccordion.2.7.js -->
<script type="text/javascript" src="/static/footer/jquery-dcjqacoordin-2-7.js"></script>
<!-- jquery.scrollTo.min.js -->
<script type="text/javascript" src="/static/footer/jquery-scrollTo-min.js"></script>
<!-- slidebars.min.js -->
<script type="text/javascript" src="/static/footer/slidebars-min.js"></script>
<!-- jquery.nicescroll.js -->
<script type="text/javascript" src="/static/footer/jquery-nicescroll.js"></script>
<!-- respond.min.js -->
<script type="text/javascript" src="/static/footer/respond-min.js"></script>
<!--common script for all pages-->
<!-- common-scripts.js -->
<script type="text/javascript" src="/static/footer/common-scripts.js"></script>
<!-- toastr.js -->
<script type="text/javascript" src="/static/footer/toastr.js"></script>
<script type="text/javascript" src="/static/footer/loading.js" charset="utf-8"></script>