{include file='/public/header'}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        body {
            background-color: #B3E5FC;
            border-radius: 10px
        }

        .card {
            width: 100%;
            border: none;
            border-radius: 10px;
            background-color: #fff;
            font-size: 20px;
        }

        .stats {
            background: #f2f5f8 !important;
            color: #000 !important
        }

        .articles {
            font-size: 15px;
            color: #a1aab9
        }

        .number1 {
            font-weight: 500
        }

        .followers {
            font-size: 15px;
            color: #a1aab9
        }

        .number2 {
            font-weight: 500
        }

        .rating {
            font-size: 15px;
            color: #a1aab9
        }

        .number3 {
            font-weight: 500
        }
        .btn {
            font-size: 15px;
        }
        .mt-0 {
            font-size: 25px;
        }
        .row {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">PSYConnect</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse jd-flex flex-row-reverse" id="navbarSupportedContent">   
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="../../ymy/App/findChat">
                        Find Friends
                        </a>
                    </li>
                    
                    <li class="nav-item">
                      <a class="nav-link" href="../../ymy/Login/login">
                      Logout
                      </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../ymy/App/settings">
                        Hello, {$username}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <h2 class="text-center" style="margin-top: 20px;">The most relevent patients: </h2>
        {volist name="matches" id="ma"}
        <div class="row"> 
            <div class="container col-md-6">
                <div class="card p-3">
                    <div class="d-flex align-items-center">
                        <div class="image"> <img src="{$ma.avatar_url}" class="rounded" width="155"> </div>
                        <div class="ml-3 w-100">
                            <form action='/ymy/App/chat' method='get'>
                            <h4 class="mb-0 mt-0">{$ma.name}</h4> 
                            <input name='who' value="{$ma.name}" style="display: none;">
                            <!-- <span>{$ma.name}</span> -->
                            <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                                <div class="d-flex flex-column"> <span class="articles">不幸</span> <span class="number1">{$ma.events}</span> </div>
                                <input name="events" value="{ma.events" style="display: none;">
                                <!--<div class="d-flex flex-column"> <span class="followers">Followers</span> <span class="number2">980</span> </div>-->
                                <hr>
                                <div class="d-flex flex-column"> <span class="rating">Disorders</span> <span class="number3">{$ma.disorders}</span> </div>
                            </div>
                            <div class="button mt-2 d-flex flex-row align-items-center"> <button type="submit" id="{$ma.name}" onclick="gotochat(id)" class="btn btn-sm btn-outline-primary w-100">Chat</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {/volist}
        <hr width="80%" style="margin-left: 10%;">
        <h2 class="text-center">Advisors: </h2>
        
        {volist name="advisors" id="ad"}
        <div class="row">  
            <div class="container col-md-6">
                <div class="card p-3">
                    <div class="d-flex align-items-center">
                        <div class="image"> <img src="{$ad.avatar_url}" class="rounded" width="155"> </div>
                        <!-- <form action='/ymy/App/' -->
                        <div class="ml-3 w-100">
                            <form action='/ymy/App/chat' method='get'>
                            <h4 class="mb-0 mt-0">{$ad.name}</h4> 
                            <span>Advisor</span>
                            <input name='who' value="{$ad.name}" style="display: none;">
                            <!-- <span>{$ad.name}</span> -->
                            <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                                <div class="d-flex flex-column"> <span class="articles">不幸</span> <span class="number1">{$ad.events}</span> </div>
                                <!--<div class="d-flex flex-column"> <span class="followers">Followers</span> <span class="number2">980</span> </div>-->
                                <hr>
                                <div class="d-flex flex-column"> <span class="rating">Disorders</span> <span class="number3">{$ad.disorders}</span> </div>
                            </div>
                            <div class="button mt-2 d-flex flex-row align-items-center"> <button type="submit" id="{$ad.name}" onclick="gotochat(id)" class="btn btn-sm btn-outline-primary w-100">Chat</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {/volist}
    


</body>
{include file='/public/footer'}
<script type="text/javascript" src="/static/bootbox-all-min.js"></script>
<script type="text/javascript">
    function gotochat(id) {
        console.log(id);
        // return '';
        // console.log('ho');
        $.ajax({
            url: "{:url('App/chat')}",
            type: 'post',
            dataType: 'json',
            data : {who: id},
        })
        window.location.href = '/ymy/App/chat?name='+id;
    }
    
</script>
