{include file='/public/header'}
<head>
    <!-- <link rel="stylesheet" href="./login.css"> -->
</head>

<section id="main-content">
    <section class="wrapper site-min-height">
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <h2>登录</h2>
                    <div class="panel-body">
                        <form class="form-horizontal login-form" role="form">
                            <div class="form-group">
                                <div class="col-lg-8 input-group">
                                    <span class="input-group-addon" style="width: 200px;">用户名</span>
                                    <input type="text" class="form-control" name="username" placeholder="请输入用户名">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-8 input-group">
                                    <span class="input-group-addon" style="width: 200px;">密码</span>
                                    <input type="text" class="form-control" name="password" placeholder="请输入密码">
                                </div>
                            </div>
                            <div class="form-group" style="margin-top: 40px;">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button type="button" class="btn btn-primary">登录</button>
                                    <button type="button" class="btn btn-info" onclick="window.location.href='/ymy/Login/register'">注册</button>
                                    <button type="button" class="btn btn-danger">忘记/修改密码</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>

{include file='/public/footer'}

<script type="text/javascript" src="/static/bootbox-all-min.js"></script>
<script type="text/javascript">
    $('.btn-primary').click(function(){
        var data = $('.login-form').serialize();
        $.ajax({
            url: "{:url('App/loginDo')}",
            type: 'post',
            dataType: 'json',
            data : data,
        })
        .done(function(e)
        {
            if (e.code == 1) {
                toastr['success'](e.message, '登陆成功');
                window.location.href = '/ymy/App/findChat';
            } else {
                toastr['warning'](e.message, '用户不存在或密码错误！');
            }
        })
        .fail(function()
        {
            toastr['error']("通讯出错", '登录失败');
        });
    })
</script>